{
  "openapi": "3.1.0",
  "info": {
    "title": "EP2 FileBridge API",
    "description": "HTTPS bridge that allows ChatGPT GPT Actions to interact with the EP2 repository on DGX. Provides file operations, git operations, and artifact management for cross-cognate collaboration.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cognates.hippocamp.ai/filebridge",
      "description": "Production API via Cloudflare tunnel"
    }
  ],
  "paths": {
    "/write_file": {
      "post": {
        "operationId": "writeFile",
        "summary": "Write content to a file in EP2 repository",
        "description": "Creates or overwrites a file at the specified path within the EP2 repository. Parent directories are created automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path", "content"],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Relative path within EP2 repo (e.g., 'foes/FOE-EXAMPLE-01.md')"
                  },
                  "content": {
                    "type": "string",
                    "description": "Content to write to the file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File written successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "path": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/read_file": {
      "post": {
        "operationId": "readFile",
        "summary": "Read content from a file in EP2 repository",
        "description": "Returns the content of the specified file.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Relative path within EP2 repo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File content retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "content": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/append_file": {
      "post": {
        "operationId": "appendFile",
        "summary": "Append content to a file",
        "description": "Appends content to the end of an existing file.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path", "content"],
                "properties": {
                  "path": { "type": "string" },
                  "content": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content appended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "path": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/list_files": {
      "post": {
        "operationId": "listFiles",
        "summary": "List files in a directory",
        "description": "Returns a list of files and directories at the specified path.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Relative directory path within EP2 repo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Directory listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "isDirectory": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mkdir": {
      "post": {
        "operationId": "mkdir",
        "summary": "Create a directory",
        "description": "Creates a directory at the specified path. Creates parent directories as needed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Directory created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "path": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delete_file": {
      "post": {
        "operationId": "deleteFile",
        "summary": "Delete a file",
        "description": "Deletes the specified file from the repository.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "path": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git_status": {
      "post": {
        "operationId": "gitStatus",
        "summary": "Get git status of EP2 repository",
        "description": "Returns the current git status including staged, modified, and untracked files.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Git status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "git_status": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/git_commit": {
      "post": {
        "operationId": "gitCommit",
        "summary": "Commit changes to EP2 repository",
        "description": "Stages all changes and commits them with the provided message.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Commit message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "commit": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hash_file": {
      "post": {
        "operationId": "hashFile",
        "summary": "Get SHA256 hash of a file",
        "description": "Returns the SHA256 hash of the specified file for integrity verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "hash": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "description": "Returns the health status of the FileBridge service.",
        "responses": {
          "200": {
            "description": "Service healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "service": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
